.box {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 40px;

  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.info {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
}

.button {
  align-self: baseline;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: lightgray;
  }
}
