body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #ededed;
}

#root {
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
